motor
numpy
Pillow
yt-dlp
aiohttp
hachoir
olefile
requests
tgcrypto
filetype
aiofiles
dnspython
tldextract
beautifulsoup4
user_agent
bs4
pyrogram==1.4.16
pyromod==1.5
ffmpeg
asyncio
pycurl
humanize
flask==2.2.2
gunicorn==20.1.0
