motor[srv]
numpy
Pillow
yt-dlp
aiohttp
hachoir
olefile
requests
tgcrypto
filetype
aiofiles
dnspython
tldextract
beautifulsoup4
user_agent
bs4
pyrogram
pyromod==1.5
ffmpeg
asyncio
pycurl
humanize
flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
